
<div class="row">
  <div class="col-12 " >
      <div class="card">
          <div class="card-body">

              <h2 class="card-title" style="text-align: center">Bienvenido</h2>

              <p class="card-text" style="text-align: justify">  El objetivo de la presente página  es dar a conocer la investigación
                que se realizó en diversas localidades del municipio de Guadalupe, Zac., a través de la aplicación
                de un instrumento que brinda información acerca del perfil epidemiológico el cual expresa
                la carga de enfermedad (estado de salud y sus determinantes) que sufre la población, y cuya descripción requiere de la identificación de las características que la definen. </p>
                <br>
                <h4 class="card-title" style="text-align: left">Datos Generales</h4>
          </div>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
      <div class="card bg-info">
          <div class="card-body">
              <div class="d-flex no-block">
                  <div class="m-r-20 align-self-center"><img src="../assets/images/icon/staff-w.png" alt="Income"></div>
                  <div class="align-self-center">
                      <h6 class="text-white m-t-10 m-b-0">Total de personas</h6>
                      <h2 class="m-t-0 text-white">{{cantidad}}</h2></div>
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-6">
      <div class="card bg-success">
          <div class="card-body">
              <div class="d-flex no-block">
                  <div class="m-r-20 align-self-center"><img src="../assets/images/icon/expense-w.png" alt="Income"></div>
                  <div class="align-self-center">
                      <h6 class="text-white m-t-10 m-b-0">Poblaciones</h6>
                      <h2 class="m-t-0 text-white">{{poblaciones}}</h2></div>
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-6">
      <div class="card bg-primary">
          <div class="card-body">
              <div class="d-flex no-block">
                  <div class="m-r-20 align-self-center"><img src="../assets/images/icon/woman-and-man.png" alt="Income"></div>
                  <div class="align-self-center">
                      <h6 class="text-white m-t-10 m-b-0">Personas por sexo</h6>
                      <h2 class="m-t-0 text-white">{{sexoCantidad[0]}} Mujeres {{sexoCantidad[1]}} Hombres</h2>

                    </div>

              </div>
          </div>
      </div>
  </div>

  <div class="col-lg-6">
    <div class="card bg-danger">
        <div class="card-body">
            <div class="d-flex no-block">
                <div class="m-r-20 align-self-center"><img src="../assets/images/icon/home.png" alt="Income"></div>
                <div class="align-self-center">
                    <h6 class="text-white m-t-10 m-b-0">Viviendas</h6>
                    <h2 class="m-t-0 text-white">{{viviendas}}</h2>

                  </div>

            </div>
        </div>
    </div>
</div>


<div class="col-lg-6">
    <div class="card">
        <div class="card-body">
          <h2 class="card-title" style="text-align: center">Estado Cívil</h2>

          <div style="display: block">
            <canvas baseChart  [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="pieChartType" ></canvas>
        </div>
        </div>
    </div>
  </div>

      <div class="col-lg-6">
          <div class="card">
              <div class="card-body">
                  <h4 class="card-title">Rango de edades</h4>
                  <br>
                  <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col">Edad</th>
                          <th scope="col">Clasificación</th>
                          <th scope="col">Cantidad</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>0-9 </td>
                          <td>Niños</td>
                          <td>{{edadesRangos[0]}}</td>
                        </tr>
                        <tr>
                          <td>10-19 </td>
                          <td>Adolescentes</td>
                          <td>{{edadesRangos[1]}}</td>
                        </tr>
                        <tr>
                          <td>20-59 </td>
                          <td>Adultos Jóvenes</td>
                          <td>{{edadesRangos[2]}}</td>
                        </tr>
                        <tr>
                          <td>60+</td>
                          <td>Adultos Mayores</td>
                          <td>{{edadesRangos[3]}}</td>
                        </tr>
                      </tbody>
                    </table>
              </div>
          </div>

</div>



