<div class="row">

    <div  *ngIf="leyenda.length != 0" class="col-12">
        <div class="card">
            <div class="card-body">
              <h4 class="card-title">Estadisticas para: </h4>
              <p class="card-text">{{leyenda}}</p>

            </div>
          </div>
    </div>

    <div  *ngIf="cantidad == 0" class="col-12">
      <div class="card">
          <div class="card-body">
            <h4 class="card-title">Sin resultados</h4>
            <p class="card-text">Favor de escoger otra opción.</p>

          </div>
        </div>
  </div>
  <ng-container *ngIf="leyenda.length != 0">
    <div *ngFor="let gr of grafico"  class="col-6" >
        <div   class="card" style=" width: auto">
            <div  class="card-body">

                <h4 class="card-title" >{{ gr.leyenda }} </h4>

                <app-grafico-dona [chartLabels]="gr.labels" [chartData]="gr.data" [chartType]="gr.type"></app-grafico-dona>
            </div>
        </div>
    </div>
  </ng-container>

</div>


