<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar" >
    <div class="login-box card">
        <div class="card-body">

            <form ngNativeValidate [formGroup]="forma" (ngSubmit)="obtenerEstadisticas()" class="form-horizontal form-material" id="loginform" action="index.html">
                <h3 class="box-title m-t-40 m-b-0">Selecciona las opciones </h3><small> Para obtener graficos y datos estadistícos</small>
                
                <br><br>
                <small> Datos de interes general</small>
                <div class="form-group row">

                    <div class="col-lg-6">

                        <select (change)="escogerMunicipio( $event.target.value )"  name="municipioCB" class="form-control" >
                                <option value="">Municipio</option>
                                <option *ngFor="let municipioVM of municipioCB" [value]="municipioVM">
                                    {{ municipioVM }}
                                    </option>
                                </select>
                        </div>

                        <div class="col-lg-6">
                        <select (change)="escogerPoblacion( $event.target.value )"  name="PoblacionCB" class="form-control" >
                                <option value="">Poblacion</option>
                                <option *ngFor="let PoblacionVM of PoblacionCB" [value]="PoblacionVM">
                                      {{ PoblacionVM }}
                                    </option>
                                </select>
                            </div>

                            <br><br>
                        

                        <div class="col-lg-6">
                            <br>
                            <select (change)="escogerEstado( $event.target.value )"  name="estadoCB" class="form-control" >
                                <option value="">Estado</option>
                                <option *ngFor="let estadoVM of estadoCB" [value]="estadoVM">
                                {{ estadoVM }}
                                </option>
                            </select>
                        </div>

                        <div class="col-lg-6">
                            <br>
                          <select (change)="escogerEstadoCivil( $event.target.value )"  name="estadoCivilCB" class="form-control" >
                                <option value="">Estado Civil</option>
                                <option *ngFor="let estadoC of estadoCivilCB" [value]="estadoC">
                                  {{ estadoC }}
                                </option>
                              </select>
                        </div>

                        <div class="col-lg-6">
                            <br>
                                <select (change)="escogerNivelEst( $event.target.value )"  name="nivelEstCB" class="form-control" >
                                        <option value="">Nivel de Estudio</option>
                                        <option *ngFor="let NEstudio of nivelEstCB" [value]="NEstudio">
                                          {{ NEstudio }}
                                    </option>
                                </select>
                            </div>

                        <div class="col-lg-6">
                            <br>
                            <select (change)="escogerServicioMedico( $event.target.value )"  name="servicioMedicoCB" class="form-control" >
                                <option value="">Servicio Medico</option>
                                <option *ngFor="let sm of servicioMedicoCB" [value]="sm">
                                  {{ sm }}
                            </option>
                        </select>
                         </div>

                         <div class="col-lg-6">
                            <br>
                            <select (change)="escogerEstudia( $event.target.value )"  name="eleccionBI" class="form-control" >
                                    <option value="">Estudia</option>
                                    <option *ngFor="let estudia of eleccionBI" [value]="estudia">
                                        {{ estudia }}
                                </option>
                            </select>
                        </div>

                        <div class="col-lg-6" >
                            <br>
                            <select (change)="escogerTrabaja( $event.target.value )"  name="eleccionBI" class="form-control" >
                                    <option value="">Trabaja</option>
                                    <option *ngFor="let trabaja of eleccionBI" [value]="trabaja">
                                        {{ trabaja }}
                                    </option>
                            </select>
                        </div>
                    </div>

                    <br><br>
                    <small> Datos especificos de la Poblacion</small>
                    <div class="form-group row">
                            <div class="col-lg-6">
                                <br>
                                <select (change)="escogerEnfermedad( $event.target.value )"  name="eCronicas" class="form-control" >
                                        <option value="">Enfermedad</option>
                                        <option *ngFor="let enfermedad of eCronicas" [value]="enfermedad">
                                            {{ enfermedad }}
                                    </option>
                                </select>
                            </div>

                            <div class="col-lg-6" >
                                    <br>
                                    <select (change)="escogerDerechoH( $event.target.value )"  name="eleccionBI" class="form-control" >
                                            <option value="">Derechohabiente </option>
                                            <option *ngFor="let derechoH of eleccionBI" [value]="derechoH">
                                                {{ derechoH }}
                                            </option>
                                    </select>
                            </div>

                            <div class="col-lg-6" >
                                    <br>
                                    <select (change)="escogerAdicto( $event.target.value )"  name="eleccionBI" class="form-control" >
                                            <option value="">Adiccion</option>
                                            <option *ngFor="let addicion of eleccionBI" [value]="addicion">
                                                {{ addicion }}
                                            </option>
                                    </select>
                            </div>

                            <div class="col-lg-6" >
                                    <br>
                                    <select (change)="escogerCFamiliares( $event.target.value )"  name="eleccionBI" class="form-control" >
                                            <option value="">Conocimientos Familiares</option>
                                            <option *ngFor="let cFamiliares of eleccionBI" [value]="cFamiliares">
                                                {{ cFamiliares }}
                                            </option>
                                    </select>
                            </div>

                            <div class="col-lg-6" >
                                    <br>
                                    <select (change)="escogerHigiene( $event.target.value )"  name="eleccionBI" class="form-control" >
                                            <option value="">Higiene del hogar</option>
                                            <option *ngFor="let higiene of eleccionBI" [value]="higiene">
                                                {{ higiene }}
                                        </option>
                                    </select>
                            </div>
                            <div class="col-lg-6" >
                                    <br>
                                    <select (change)="escogerPlan( $event.target.value )"  name="eleccionBI" class="form-control" >
                                            <option value="">Planifica</option>
                                            <option *ngFor="let planifica of eleccionBI" [value]="planifica">
                                                {{ planifica }}
                                            </option>
                                    </select>
                                </div>
                            <div class="col-lg-6" >
                                    <br>
                                    <select (change)="escogerReme( $event.target.value )"  name="eleccionBI" class="form-control" >
                                            <option value="">Remdios Caseros</option>
                                            <option *ngFor="let remedio of eleccionBI" [value]="remedio">
                                                {{ remedio }}
                                            </option>
                                    </select>
                                </div>
                                <div class="col-lg-6" >
                                    <br>
                                    <select (change)="escogerSalud( $event.target.value )"  name="eleccionBI" class="form-control" >
                                            <option value="">Salud Bucal</option>
                                            <option *ngFor="let saludB of eleccionBI" [value]="saludB">
                                                {{ saludB }}
                                            </option>
                                    </select>
                                </div>
                    </div>

                    <div class="form-group text-center m-t-20">
                            <div class="col-xs-12">
                                <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Obtener Estadistícas</button>
                            </div>
                        </div>
            </form>
        </div>
    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->