

<div class="row">
  <div class="col-12 " >
      <div class="card">
          <div class="card-body">

              <h2 class="card-title text-center">Nosotros</h2>

              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="margin: 0 auto">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active"> <img class="img-responsive" src="../../../assets/images/portalestadistico/clinicaTacoaleche.jpg" alt="Primera diapositiva"> 
                    </div>
                        
                    <div class="carousel-item"> <img class="img-responsive" src="../../../assets/images/portalestadistico/imagencalle.jpg" alt="Segunda diapositiva">
                     </div>

                     <div class="carousel-item"> <img class="img-responsive" src="../../../assets/images/portalestadistico/14promocion y orevencion en salud el bordo.JPG" alt="Segunda diapositiva">
                     </div>

                     <div class="carousel-item"> <img class="img-responsive" src="../../../assets/images/portalestadistico/6Platicas de educacion en salud bucal Jardin de Niños La Luz.jpg" alt="Segunda diapositiva">
                     </div>

                     <div class="carousel-item"> <img class="img-responsive" src="../../../assets/images/portalestadistico/15Trabajo con adultos mayores.JPG" alt="Segunda diapositiva">
                     </div>

                    <div class="carousel-item"> <img class="img-responsive" src="../../../assets/images/portalestadistico/trabajoPacientesClinica.jpg" alt="Tercera diapositiva"> </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Anterior</font></font></span> </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Siguiente</font></font></span> </a>
            </div>

            <br>

              <p class="card-text"> 
                  En México y en todo el país se han manifestado cambios trascendentales en el comportamiento epidemiológico de las enfermedades, esto aunado a los cambios ambientales, demográficos, económicos, sociales, culturales y los avances en el campo de la atención a la salud que han ido transformando las características del país y han influenciado el perfil epidemiológico, así como las características relacionadas con la presencia de enfermedad o muerte en la población mexicana. <br><br>
                  La población está expuesta a los riesgos propios de un país con desarrollo social e infraestructura incipientes, caracterizado por higiene deficiente, mala disposición de excretas, agua para consumo humano de baja calidad, hacinamiento, convivencia con animales en el hogar, esquemas de vacunación incompletos, cobertura insuficiente y 
                  subutilización de servicios de salud, entre otros, que cambiaron con el desarrollo y la urbanización.<br><br> 
                  En consecuencia se han modificado las formas de vida y surgido riesgos de exposición al sedentarismo, al estrés, al consumo de tabaco y de drogas, a la violencia, así como a patrones alimentarios compuestos por alimentos de alta densidad energética, el sobrepeso y la obesidad, el colesterol elevado y la hipertensión arterial, factores responsables de gran parte de la carga global de la enfermedad, 
                  ya que han dado como resultado problemas como la obesidad y otras enfermedades crónico degenerativas como la diabetes a edades cada vez más tempranas.<br><br>
                  Es por ello que el objetivo de la presente página  es dar a conocer la investigación que se realizó en diversas localidades del municipio de Guadalupe, Zac., a través de la aplicación de un instrumento que brinda información acerca del perfil epidemiológico el cual expresa la carga de enfermedad (estado de salud y sus determinantes) que sufre la población, y cuya descripción requiere de la identificación de las características que la definen, entre estas están la mortalidad, 
                  la morbilidad y la calidad de vida, esto con el fin identificar necesidades y prioridades en salud que son de utilidad para la definición de intervenciones y estrategias además de la disponibilidad de datos válidos y confiables indispensable para el análisis y evaluación objetiva de la realidad sanitaria, la toma de decisiones basada en evidencia y la programación en salud.
                  
              </p>
          </div>
      </div>
  </div>
  
 
</div>
